In [4]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
#     MongoDB over SQL databases?

In [5]:
# Ans- MongoDB is an open-source, cross-platform, and distributed document-based database designed for ease of 
#      application development and scaling. It is a NoSQL database developed by MongoDB Inc. MongoDB database is 
#      built to store a huge amount of data and also perform fast. A non-relational database is a database that 
#      does not use the tabular schema of rows and columns found in most traditional database systems.
#      In comparison to the SQL server, MongoDB is faster and more scalable. While the SQL server supports JOIN and
#      Global transactions, MongoDB does not. The MS SQL server does not accommodate large amounts of data, however
#      MongoDB does.

In [6]:
# Q2. State and Explain the features of MongoDB.

In [7]:
# Ans- Features of MongoDB –
        
    # Schema-less Database:- It is the great feature provided by the MongoDB. A Schema-less database means one 
    #                        collection can hold different types of documents in it. Or in other words, in the 
    #                        MongoDB database, a single collection can hold multiple documents and these 
    #                        documents may consist of the different numbers of fields, content, and size. It is 
    #                        not necessary that the one document is similar to another document like in the 
    #                        relational databases. Due to this cool feature, MongoDB provides great flexibility 
    #                        to databases.
    
    # Document Oriented:- In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In 
    #                     these documents, the data is stored in fields(key-value pair) instead of rows and 
    #                     columns which make the data much more flexible in comparison to RDBMS. And each 
    #                     document contains its unique object id.
    
    # Indexing:- In MongoDB database, every field in the documents is indexed with primary and secondary indices 
    #            this makes easier and takes less time to get or search data from the pool of the data. If the 
    #            data is not indexed, then database search each document with the specified query which takes 
    #            lots of time and not so efficient.
    
    # Scalability:- MongoDB provides horizontal scalability with the help of sharding. Sharding means to 
    #               distribute data on multiple servers, here a large amount of data is partitioned into data 
    #               chunks using the shard key, and these data chunks are evenly distributed across shards that 
    #               reside across many physical servers. It will also add new machines to a running database.
    
    # Replication:- MongoDB provides high availability and redundancy with the help of replication, it creates 
    #               multiple copies of the data and sends these copies to a different server so that if one 
    #               server fails, then the data is retrieved from another server.
    
    # Aggregation:- It allows to perform operations on the grouped data and get a single result or computed 
    #               result. It is similar to the SQL GROUPBY clause. It provides three different aggregations 
    #               i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods
    
    # High Performance:- The performance of MongoDB is very high and data persistence as compared to another 
    #                    database due to its features like scalability, indexing, replication, etc.

In [8]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [11]:
# Ans- 

import pymongo
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://aman7398:aman73078@cluster0.n3bhbku.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [10]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 17.7 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 34.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
db = client["student_details"]

In [13]:
coll_student_details = db["student_record"]

In [14]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#     and insert many records. Use the find() and find_one() methods to print the inserted record.

In [15]:
# Ans- 
# insert one record
data = {
    'student_name' : 'Tarun',
    'student_id' : 101,
    'status' : 'Regular',
    'phone_number' : 8928392892

}

In [16]:
coll_student_details.insert_one(data)

In [17]:
coll_student_details.find_one()

{'_id': ObjectId('64a19383dc34db50234dc1c6'),
 'student_name': 'Tarun',
 'student_id': 101,
 'status': 'Regular',
 'phone_number': 8928392892}

In [18]:
# insert many record
data_1 = [
    {"student_name" : 'Varun', 'student_id' : 102, 'status' : 'Regular', 'phone_number' : 9382938292},
    {"student_name" : 'Bhanu', 'student_id' : 103, 'status' : 'Regular', 'phone_number' : 9382938902},
    {"student_name" : 'Raanu', 'student_id' : 104, 'status' : 'Private', 'phone_number' : 8982938292}
]

In [19]:
coll_student_details.insert_many(data_1)

In [20]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#     demonstrate this.

In [21]:
# Ans- find() :- In MongoDB, find() method is used to select documents in a collection and return a cursor to the 
#                selected documents. Cursor means a pointer that points to a document, when we use find() method 
#                it returns a pointer on the selected documents and returns one by one.

for i in coll_student_details.find():
    print(i)

{'_id': ObjectId('64a19383dc34db50234dc1c6'), 'student_name': 'Tarun', 'student_id': 101, 'status': 'Regular', 'phone_number': 8928392892}
{'_id': ObjectId('64a19387dc34db50234dc1c7'), 'student_name': 'Varun', 'student_id': 102, 'status': 'Regular', 'phone_number': 9382938292}
{'_id': ObjectId('64a19387dc34db50234dc1c8'), 'student_name': 'Bhanu', 'student_id': 103, 'status': 'Regular', 'phone_number': 9382938902}
{'_id': ObjectId('64a19387dc34db50234dc1c9'), 'student_name': 'Raanu', 'student_id': 104, 'status': 'Private', 'phone_number': 8982938292}

In [22]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [23]:
# Ans- sort() :- MongoDB sort () method is used to sort the data or collection result in ascending or descending 
#                order at the same time. The sort() method acknowledges a particular filed of documents holding 
#                the collection of the database includes sorting order. If we have not set any value or giving 
#                priority to the particular value then by default the sorting method would automatically sort the 
#                data or collection result in ascending order.

# Example :-
coll_student_details.find().sort('student_name')
for i in coll_student_details.find().sort('student_name'):
    print(i)

{'_id': ObjectId('64a19387dc34db50234dc1c8'), 'student_name': 'Bhanu', 'student_id': 103, 'status': 'Regular', 'phone_number': 9382938902}
{'_id': ObjectId('64a19387dc34db50234dc1c9'), 'student_name': 'Raanu', 'student_id': 104, 'status': 'Private', 'phone_number': 8982938292}
{'_id': ObjectId('64a19383dc34db50234dc1c6'), 'student_name': 'Tarun', 'student_id': 101, 'status': 'Regular', 'phone_number': 8928392892}
{'_id': ObjectId('64a19387dc34db50234dc1c7'), 'student_name': 'Varun', 'student_id': 102, 'status': 'Regular', 'phone_number': 9382938292}

In [24]:
data_student = [
    {'worker_count' : 1},
    {'worker_count' : 2},
    {'worker_count' : 3},
    {'worker_count' : 8},
    {'worker_count' : 9},
    {'worker_count' : 2}, 
    {'worker_count' : 10},
    {'worker_count' : 7}
]

In [25]:
coll_student_details.insert_many(data_student)

In [26]:
for i in coll_student_details.find():
    print(i)

{'_id': ObjectId('64a19383dc34db50234dc1c6'), 'student_name': 'Tarun', 'student_id': 101, 'status': 'Regular', 'phone_number': 8928392892}
{'_id': ObjectId('64a19387dc34db50234dc1c7'), 'student_name': 'Varun', 'student_id': 102, 'status': 'Regular', 'phone_number': 9382938292}
{'_id': ObjectId('64a19387dc34db50234dc1c8'), 'student_name': 'Bhanu', 'student_id': 103, 'status': 'Regular', 'phone_number': 9382938902}
{'_id': ObjectId('64a19387dc34db50234dc1c9'), 'student_name': 'Raanu', 'student_id': 104, 'status': 'Private', 'phone_number': 8982938292}
{'_id': ObjectId('64a19391dc34db50234dc1ca'), 'worker_count': 1}
{'_id': ObjectId('64a19391dc34db50234dc1cb'), 'worker_count': 2}
{'_id': ObjectId('64a19391dc34db50234dc1cc'), 'worker_count': 3}
{'_id': ObjectId('64a19391dc34db50234dc1cd'), 'worker_count': 8}
{'_id': ObjectId('64a19391dc34db50234dc1ce'), 'worker_count': 9}
{'_id': ObjectId('64a19391dc34db50234dc1cf'), 'worker_count': 2}
{'_id': ObjectId('64a19391dc34db50234dc1d0'), 'worker_count': 10}
{'_id': ObjectId('64a19391dc34db50234dc1d1'), 'worker_count': 7}

In [27]:
coll_student_details.find().sort('worker_count')

In [28]:
coll_student_details.find({'student_name' : 'Tarun'}).sort('student_id')

In [29]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [30]:
# Ans- delete_one() :- The delete_one() method is used to delete only one document from the MongoDB.The first 
#                      parameter of delete_one() method is query object that define which document you want to 
#                      delete. To delete a single MongoDB document use delete_one() method.

In [31]:
# Example:-

data_2 = {
    'company_name' : 'pwskills',
    'course_name' : ['Data science', 'web dev', 'DSA']
}

In [32]:
coll_student_details.insert_one(data_2)

In [33]:
delete_one = coll_student_details.delete_one(data_2)

In [34]:
print(delete_one)

<pymongo.results.DeleteResult object at 0x7f25b66b6680>

In [35]:
# delete_many():- You can also delete more than one documents from the MongoDB collection. To delete all the 
#                 documents from the MongoDB collections you need to pass the query object in the delete_many() 
#                 method that defines which document you want to delete.

In [36]:
data_3 = [
    {"student_name" : 'Ram manohar', 'student_id' : 107, 'status' : 'Regular', 'phone_number' : 9382938292},
    {"student_name" : 'krishna', 'student_id' : 108, 'status' : 'Regular', 'phone_number' : 9382938292},
    {"student_name" : 'Rahul', 'student_id' : 109, 'status' : 'Regular', 'phone_number' : 9382938292},
    {"student_name" : 'krish', 'student_id' : 102, 'status' : 'Regular', 'phone_number' : 9382938292}
]

In [37]:
coll_student_details.insert_many(data_3)

In [38]:
coll_student_details.delete_many(data_2)

In [39]:
for i in coll_student_details.find():
    print(i)

{'_id': ObjectId('64a19383dc34db50234dc1c6'), 'student_name': 'Tarun', 'student_id': 101, 'status': 'Regular', 'phone_number': 8928392892}
{'_id': ObjectId('64a19387dc34db50234dc1c7'), 'student_name': 'Varun', 'student_id': 102, 'status': 'Regular', 'phone_number': 9382938292}
{'_id': ObjectId('64a19387dc34db50234dc1c8'), 'student_name': 'Bhanu', 'student_id': 103, 'status': 'Regular', 'phone_number': 9382938902}
{'_id': ObjectId('64a19387dc34db50234dc1c9'), 'student_name': 'Raanu', 'student_id': 104, 'status': 'Private', 'phone_number': 8982938292}
{'_id': ObjectId('64a19391dc34db50234dc1ca'), 'worker_count': 1}
{'_id': ObjectId('64a19391dc34db50234dc1cb'), 'worker_count': 2}
{'_id': ObjectId('64a19391dc34db50234dc1cc'), 'worker_count': 3}
{'_id': ObjectId('64a19391dc34db50234dc1cd'), 'worker_count': 8}
{'_id': ObjectId('64a19391dc34db50234dc1ce'), 'worker_count': 9}
{'_id': ObjectId('64a19391dc34db50234dc1cf'), 'worker_count': 2}
{'_id': ObjectId('64a19391dc34db50234dc1d0'), 'worker_count': 10}
{'_id': ObjectId('64a19391dc34db50234dc1d1'), 'worker_count': 7}
{'_id': ObjectId('64a193a7dc34db50234dc1d3'), 'student_name': 'Ram manohar', 'student_id': 107, 'status': 'Regular', 'phone_number': 9382938292}
{'_id': ObjectId('64a193a7dc34db50234dc1d4'), 'student_name': 'krishna', 'student_id': 108, 'status': 'Regular', 'phone_number': 9382938292}
{'_id': ObjectId('64a193a7dc34db50234dc1d5'), 'student_name': 'Rahul', 'student_id': 109, 'status': 'Regular', 'phone_number': 9382938292}
{'_id': ObjectId('64a193a7dc34db50234dc1d6'), 'student_name': 'krish', 'student_id': 102, 'status': 'Regular', 'phone_number': 9382938292}

In [40]:
d = coll_student_details.delete_many({'student_id' : 101})

In [41]:
print(d.deleted_count)

1

In [42]:
# Note of delete_many():-You can also delete all the documents from the MongoDB collection. To delete all the 
#                        documents from the MongoDB collections you need to pass an empty dictionary in the 
#                        delete_many() method.

In [43]:
coll_student_details.delete_many({})

In [44]:
for i in coll_student_details.find():
    print(i)

In [45]:
# drop() :- In MongoDB, db. collection. drop() method is used to drop a collection from a database. It completely 
#           removes a collection from the database and does not leave any indexes associated with the dropped 
#           collections.

In [46]:
db = client["weather_details"]

In [47]:
coll_weather_details = db['weather_record']

In [48]:
weather_data = {
    'season' : 'summer',
    'temperature' : 45
}

In [49]:
coll_weather_details.insert_one(weather_data)

In [50]:
coll_weather_details.drop()